<script type="text/javascript"src="js/a.js"></script>
<div id="footer">
  <div class="">
    <h2>Developed By :</h2>
    <p> <b>Team PASS </b></p>
    <p class="copyright">©2023</p>
  </div>


  </div>
</body>
</html>
