<script type="text/javascript"src="js/a.js"></script>
<div class="footer-box" style="background-image: linear-gradient(to right,rgb(8, 9, 37),rgb(15, 13, 126));" >
<div id="footer" style="background: -webkit-linear-gradient(rgb(6, 5, 32),rgb(93, 211, 231),rgb(163, 173, 253));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  ">
  <div class="" style="">
    <h2>Developed By :</h2>
    <p> <b>Team PASS </b></p>
    <p class="copyright">©2023</p>
  </div>


  </div>
  </div>
</div>
</body>
</html>
