<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>

<div class="list" style="padding-left: 4rem; margin-top: 1.5rem; padding-top: 1rem; padding-bottom: 1rem;margin-bottom: -1rem; width: 50%; background:#c3eaec; opacity: 70%;">
  <ul style="font-size: 2rem; padding-left: 5.5rem;">Top Selling Fishes</ul>
  <li style="font-size: 1.4rem; padding-left: 4rem; padding-bottom: 0.6rem;">Maral</li>
  <li style="font-size: 1.4rem; padding-left: 4rem;padding-bottom: 0.6rem;">Bangda</li>
  <li style="font-size: 1.4rem; padding-left: 4rem;padding-bottom: 0.6rem;">Bombil</li>
  <li style="font-size: 1.4rem; padding-left: 4rem;padding-bottom: 0.6rem;">Mirgal</li>
  <li style="font-size: 1.4rem; padding-left: 4rem;padding-bottom: 0.6rem;">Rohu</li>
</div>
<div class="chart"style="
    display: block;
    padding: 1% 1%;
    padding-left:45rem;
    margin-top:-20.2rem;
    background:sky-blue;
">
<canvas id="myChart" style="width:120%;max-width:800px"></canvas>

<script>

var xValues = ["Bangda", "Bombil", "Maral", "Mirgal", "Rohu"];
var yValues = [55, 49, 44, 24, 15];
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("myChart", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Most common consumed fish in the market"
    }
  }
});
</script>
</div>
</body>
</html>
