<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/register" method="post">
      <input type="text" name="name" value=""placeholder="name">
      <input type="text" name="knownAs" value=""placeholder="known-as">
      <input type="text" name="scientificName" value=""placeholder="scientificName">
      <input type="text" name="appearance" value=""placeholder="appearance">
      <input type="text" name="habitat" value=""placeholder="habitat">
      <input type="text" name="diet" value=""placeholder="diet">
      <input type="text" name="nutritionValue" value=""placeholder="nutritionValue">
      <input type="number" name="idx" value=""placeholder="idx">
      <button type="submit" name="button">submit</button>

    </form>
  </body>
</html>
